@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-heading: "Departure Mono", sans-serif;
  --font-body: "General Sans", sans-serif;
}

@layer base {
  html {
    @apply bg-neutral-900 text-neutral-200 font-body;
  }

  .button.active {
    @apply bg-neutral-800 duration-100 text-neutral-100;
  }
  .button {
    @apply hover:bg-neutral-800 flex items-center gap-2 px-3 py-[0.5] rounded-lg text-neutral-500 hover:text-neutral-100 text-sm leading-[2.2] active:translate-y-px active:scale-[.99];
  }

  .side-p {
    @apply px-4 sm:px-8 lg:px-16;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  /* change cursor text highlihgt to light gray */
  ::selection {
    @apply bg-neutral-700 text-neutral-200;
  }

  :not(pre) > code[class*="shiki"],
  pre[class*="shiki"] {
    @apply bg-neutral-800/35!;
  }
}
