@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-heading: "Bianzhidai-Pearl", sans-serif;
  --font-body: "GeneralSans-Variable", sans-serif;
}

@layer base {
  html {
    @apply bg-zinc-900 text-zinc-200;
  }

  .button.active {
    @apply bg-zinc-800 hover:bg-zinc-700 transition-colors duration-100;
  }
  .button {
    @apply flex items-center gap-2 px-3 py-[0.5] rounded-lg text-sm leading-[2.2];
  }

  .under {
    @apply underline underline-offset-[12px] decoration-2 decoration-zinc-700;
  }

  .side-p {
    @apply px-4 sm:px-8 lg:px-16;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  /* change cursor text highlihgt to light gray */
  ::selection {
    @apply bg-zinc-700 text-zinc-200;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    @apply bg-zinc-800/35!;
  }
}
