@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-heading: "Sentient", sans-serif;
  --font-body: "General Sans", sans-serif;
  --font-heading: "Departure Mono", sans-serif;
  --font-body: "GeneralSans-Variable", sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  .stretch {
    transform: scaleY(1.3);
  }

  html {
    @apply bg-stone-900 text-stone-200 font-body;
  }

  .button.active {
    @apply bg-stone-800 duration-100;
  }
  .button {
    @apply hover:bg-stone-800 flex items-center gap-2 px-3 py-[0.5] rounded-lg text-sm leading-[2.2] active:translate-y-px active:scale-[.99];
  }

  .under {
    @apply underline underline-offset-[12px] decoration-2 decoration-stone-700;
  }

  .side-p {
    @apply px-4 sm:px-8 lg:px-16;
  }

  .pill {
    @apply px-4 py-2 bg-stone-800 rounded-lg flex flex-col gap-1 justify-start;
  }

  .pill.extra {
    @apply grid grid-cols-2 bg-orange-500/5;
  }

  .pill.extra p {
    @apply col-span-2;
  }

  .pill.extra span {
    @apply text-sm text-right text-orange-500/50;
  }

  .pill.new {
    @apply relative;
  }

  .pill.new span {
    @apply absolute rounded-lg top-2 right-2 block px-2 py-1 justify-self-end w-[min-content] text-sm text-right bg-stone-900/70 text-stone-100/50;
  }

  .pill code {
    @apply text-sm text-stone-500;
  }

  .pill.extra code {
    @apply text-orange-500/50;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  /* change cursor text highlihgt to light gray */
  ::selection {
    @apply bg-stone-700 text-stone-200;
  }

  :not(pre) > code[class*="shiki"],
  pre[class*="shiki"] {
    @apply bg-stone-800/35!;
  }
}
