@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-heading: "Bianzhidai-Pearl", sans-serif;
  --font-body: "GeneralSans-Variable", sans-serif;
}

@layer base {
  html {
    @apply bg-zinc-900 text-zinc-200;
  }

  .button.active {
    @apply bg-zinc-800 hover:bg-zinc-700 transition-colors duration-100;
  }
  .button {
    @apply flex items-center gap-2 px-3 py-[0.5] rounded-lg text-sm leading-[2.2];
  }

  .under {
    @apply underline underline-offset-[12px] decoration-2 decoration-zinc-700;
  }

  .side-p {
    @apply px-4 sm:px-8 lg:px-16;
  }

  .pill {
    @apply px-4 py-2 bg-zinc-800 hover:bg-zinc-700 rounded-lg flex flex-col gap-1 transition-colors justify-start;
  }

  .pill.disabled {
    @apply opacity-50 hover:bg-zinc-800 cursor-not-allowed;
  }

  .pill.extra {
    @apply grid grid-cols-2 bg-orange-500/5 hover:bg-orange-500/10;
  }

  .pill.extra p {
    @apply col-span-2;
  }

  .pill.extra span {
    @apply text-sm text-right text-orange-500/50;
  }

  .pill.new {
    @apply relative;
  }

  .pill.new:hover span {
    @apply bg-zinc-800/90 text-zinc-100/70;
  }

  .pill.new span {
    @apply absolute rounded-lg top-2 right-2 block px-2 py-1 justify-self-end w-[min-content] text-sm text-right bg-zinc-900/70 text-zinc-100/50 transition-colors;
  }

  .pill code {
    @apply text-sm text-zinc-500;
  }

  .pill.extra code {
    @apply text-orange-500/50;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  /* change cursor text highlihgt to light gray */
  ::selection {
    @apply bg-zinc-700 text-zinc-200;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    @apply bg-zinc-800/35!;
  }
}
