<footer class="py-16 relative max-w-[90ch] mx-auto w-full">
	<div class="px-16 w-full flex justify-between items-end">
    <div class="flex gap-2">
      <a href="mailto:westy12dan@gmail.com" aria-label="Email">
        {% include "icons/email.njk" %}
      </a>
      <a
        href="https://www.linkedin.com/in/daniel-westbrook-692227196/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
      >
        {% include "icons/linkedin.njk" %}
      </a>
      <a
        href="https://github.com/westbrookdaniel/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Github"
      >
        {% include "icons/github.njk" %}
      </a>
      <a
        href="https://x.com/DanielW29381255"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="x.com"
      >
        {% include "icons/x.com.njk" %}
      </a>
    </div>
    <p class="text-neutral-500 text-sm">v2024.0.0</p>
  </div>
</footer>
