<div class="noise-1"></div>
<div class="noise-2"></div>
<header>
  <nav>
    <a class="button{% if page.url === "/" %} active{% endif %}" href="/" preload="mouseover">Home</a>
    <a class="button{% if page.url.startsWith("/blog") and page.url !== "/" %} active{% endif %}" href="/blog" preload="mouseover">Blog</a>
  </nav>
</header>
