<ul class="posts">
  {% for post in collections.post | sortByDate %}
  <li class="post">
    <a href="/blog/{{ post.page.fileSlug }}">{{ post.data.title }}</a>
    <div>
      <p>{{ post.data.description }}</p>
      <p>{{ post.data.date | format }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
