<ul class="space-y-4">
  {% for post in collections.post | shortenAndSortByDate %}
  <li class="space-y-1">
    <a href="/blog/{{ post.page.fileSlug }}" preload="mouseover">{{ post.data.title }}</a>
    <div class="flex w-full justify-between text-neutral-500">
      <p>{{ post.data.description }}</p>
      <p class="align-right">{{ post.data.date | format }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
