@font-face {
  font-family: "Departure Mono";
  src:
    url("/public/fonts/DepartureMono-Regular.woff2") format("woff2"),
    url("/public/fonts/DepartureMono-Regular.woff") format("woff"),
    url("/public/fonts/DepartureMono-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
