<footer class="pb-6 sm:pb-8 lg:pb-16 pt-16 relative max-w-[90ch] mx-auto w-full">
  <div class="side-p w-full flex justify-between items-end">
    <div class="flex gap-3">
      <a href="mailto:westy12dan@gmail.com" aria-label="Email">
        {{> components/icons/email }}
      </a>
      <a
        href="https://www.linkedin.com/in/daniel-westbrook-692227196/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
      >
        {{> components/icons/linkedin }}
      </a>
      <a
        href="https://github.com/westbrookdaniel/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Github"
      >
        {{> components/icons/github }}
      </a>
      <a
        href="https://x.com/DanielW29381255"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="x.com"
      >
        {{> components/icons/x.com }}
      </a>
    </div>
    <p class="text-zinc-500 text-sm">v2025.9.13</p>
  </div>
</footer>
