<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/public/fonts.css" />
<link rel="stylesheet" href="/public/index.css" />
<link
  rel="icon"
  type="image/svg+xml"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect x=%2225%22 y=%2280%22 width=%2255%22 height=%224%22 rx=%220%22 fill=%22rgb(163, 163, 163)%22></rect></svg>"
/>
<script src="https://unpkg.com/htmx.org@2.0.1"></script>
<script
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "88fe2b0df8a24b2ead6c574a2fa9c091"}'
></script>
<script src="/public/index.js" type="module"></script>
<script>
  console.log(
    "Source code available at https://github.com/westbrookdaniel/westbrook-daniel-website"
  );
</script>
