<!doctype html>
<html lang="en">
  <head>
    {{ template "head" }}
    <title>{{ .Post.Title }} - Daniel Westbrook</title>
  </head>
  <body hx-boost="true">
    {{ template "header" . }}

    <div class="hero">
      <h1 class="mb-8">{{ .Post.Title }}</h1>
      <hr />
      <p class="m-0">{{ .Post.Description }}</p>
      <p class="m-0">{{ .Post.Date.Format "02 Jan 2006" }}</p>
    </div>

    {{ .Post.Content }}

    <div style="padding-top: 2rem">
      <a class="button active icon-button" href="/blog">
        {{ template "left" }}
        All Posts
      </a>
    </div>

    {{ template "footer" }}
  </body>
</html>
