---
layout: layouts/main.njk
title: Not Found - Daniel Westbrook
permalink: 404.html
---
<div class="side-p">
	<h1 class="min-h-[32px] font-heading text-2xl mb-4">Not Found</h1>
  <p class="text-zinc-500 text-balance max-w-[60ch]">
    You seem to have stumbled upon a page that doesn't exist.
  </p>
</div>
<div class="side-p flex justify-start mt-20 mb-48">
  <a class="m-0 button active" href="/" preload="mouseover">
    {% include "icons/left.njk" %} Home
  </a>
</div>
