<!doctype html>
<html lang="en">
  <head>
    {{ template "head" }}
    <title>Not Found - Daniel Westbrook</title>
  </head>
  <body>
    {{ template "header" . }}

    <div class="hero">
      <h1 class="mb-8">Not Found</h1>
      <hr />
      <p class="m-0 mb-8">
        You seem to have stumbled upon a page that doesn't exist.
      </p>
      <a class="m-0 button active icon-button" href="/">
        {{ template "left" }} Head Home
      </a>
    </div>

    {{ template "footer" }}
  </body>
</html>
