{{ define "head" }}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/public/normalize.css" />
<link rel="stylesheet" href="/public/fonts.css" />
<link rel="stylesheet" href="/public/index.css" />
<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect x=%2225%22 y=%225%22 width=%2255%22 height=%2290%22 rx=%220%22 fill=%22rgb(128, 194, 184)%22></rect></svg>" />
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "88fe2b0df8a24b2ead6c574a2fa9c091"}'></script>
<script src="/public/index.js"></script>
<script>
  console.log(
    "Source code available at https://github.com/westbrookdaniel/westbrook-daniel-website",
  );
</script>
{{ end }}

{{ define "header" }}
<header>
  <nav>
    <a class="button{{ if .IsActive "/" }} active{{ end }}" href="/">Home</a>
    <a class="button{{ if .IsActive "/blog" }} active{{ end }}" href="/blog">Blog</a>
  </nav>
</header>
{{ end }} 

{{ define "footer" }}
<footer>
  <div>
    <a href="mailto:westy12dan@gmail.com" aria-label="Email">
      {{ template "email" }}
    </a>
    <a
      href="https://www.linkedin.com/in/daniel-westbrook-692227196/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="LinkedIn"
    >
      {{ template "linkedin" }}
    </a>
    <a
      href="https://github.com/westbrookdaniel/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Github"
    >
      {{ template "github" }}
    </a>
    <a
      href="https://x.com/DanielW29381255"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="x.com"
    >
      {{ template "x.com" }}
    </a>
  </div>
  <p>Made By Daniel Westbrook</p>
</footer>
{{ end }}

{{ define "posts" }}
<ul class="posts">
  {{ range . }}
  <li class="post">
    <a href="/blog/{{ .Slug }}">{{ .Title }}</a>
    <div>
      <p>{{ .Description }}</p>
      <p>{{ .Date.Format "02 Jan 2006" }}</p>
    </div>
  </li>
  {{ end }}
</ul>
{{ end }}
