{{ define "head" }}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ end }}

{{ define "header" }}
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
  </nav>
</header>
{{ end }} 

{{ define "footer" }}
<footer>
  <div>
    <a href="mailto:westy12dan@gmail.com" aria-label="Email">E</a>
    <a
      href="https://www.linkedin.com/in/daniel-westbrook-692227196/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="LinkedIn"
      >L</a
    >
    <a
      href="https://github.com/westbrookdaniel/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Github"
      >G</a
    >
    <a
      href="https://x.com/DanielW29381255"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="x.com"
      >X</a
    >
  </div>
  <p>Made By Daniel Westbrook</p>
</footer>
{{ end }}

{{ define "posts" }}
<ul>
  {{range .}}
  <li>
    <a href="/blog/{{.Slug}}">{{ .Title }}</a>
    <p>{{ .Description }}</p>
    <p>{{ .Date.Format "02 Jan 2006" }}</p>
  </li>
  {{end}}
</ul>
{{ end }}
