<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    <title>About - Daniel Westbrook</title>
  </head>
  <body hx-boost="true">
    <div class="outer">
      <div class="container">
        {% include "header.njk" %}

        <div class="hero">
          <h1 class="m-0 logo mb-8">About Me</h1>
          <div class="space-y-1">
            <p class="mb-4">Hi, I'm Daniel Westbrook.</p>
            <p>As well as website/app development and design,</p>
            <p>
              I'm a developer at
              <a
                href="https://www.glxdigital.com/"
                target="_blank"
                rel="noopener noreferrer"
                >GLX Digital</a
              >
            </p>
            <p class="m-0">
              and my other projects are available on
              <a
                href="https://github.com/westbrookdaniel/"
                target="_blank"
                rel="noopener noreferrer"
                >Github</a
              >.
            </p>
          </div>
        </div>

        <h2>My Services</h2>
        <hr />
        <p class="mb-16 text-balance">
          I offer a range of services to meet your digital needs, including
          building responsive and scalable websites that drive engagement and
          conversions, creating user-friendly apps with seamless cross-device
          experiences, designing intuitive interfaces that captivate users,
          developing robust platforms that can boost your online sales and
          presence. I can also optimizing your site for search engines while
          providing ongoing support to keep everything running smoothly.
        </p>
      </div>
    </div>
    {% include "footer.njk" %}
  </body>
</html>
