<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    <title>Blog - Daniel Westbrook</title>
  </head>
  <body hx-boost="true">
    <div class="outer">
    <div class="container">
      {% include "header.njk" %}

      <div class="hero">
        <h1 class="mb-8">My Latest Articles</h1>
        <hr />
        <p class="text-balance max-w-[60ch]">Stay up-to-date with my latest findings, and industry news. I don't write about everything, but what I do write about interests me.</p>
      </div>


      <div class="mb-16">
        {% include "posts.njk" %}
      </div>
    </div>
    </div>
    {% include "footer.njk" %}
  </body>
</html>
