---
layout: layouts/main.njk
title: Daniel Westbrook - Web Developer
---
<div class="px-16 mb-48">
	<div class="flex gap-[4px]">
		<h1 class="min-h-[32px] font-heading text-2xl mb-4"></h1>
		<div id="cursor" class="border-b-2 border-neutral-700 mt-[4px] h-[24px] w-[18px]"></div>
	</div>
	<p class="font-heading text-2xl text-balance">
    is currently developing at 
    <a class="hover:underline decoration-neutral-700" target="_blank" href="https://www.glxdigital.com/">GLX Digital</a> 
    with other projects available on 
    <a class="hover:underline decoration-neutral-700" target="_blank" href="https://github.com/westbrookdaniel/">GitHub</a>
  </p>
</div>
<div class="px-16 space-y-8">
  <div class="flex w-full justify-between">
    <h2 class="font-heading text-2xl text-balance">Latest</h2>
    <a href="/blog" preload="mouseover" class="button active icon-button">
      See All {% include "icons/right.njk" %}
    </a>
  </div>

  <ul class="space-y-4">
    {% for post in collections.post | shortenAndSortByDate %}
      {% include "post.njk" %}
    {% endfor %}
  </ul>
</div>