<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    <title>{{ title }} - Daniel Westbrook</title>
  </head>
  <body hx-boost="true">
    {% include "header.njk" %}

    <main class="pt-24 pb-32 relative max-w-[90ch] mx-auto flex-1 w-full">
      <div class="side-p mb-48">
      	<h1 class="min-h-[32px] font-heading text-2xl mb-4">{{ title }}</h1>
        <p class="text-neutral-500 text-balance max-w-[60ch]">{{ description }}</p>
        <p class="text-neutral-500">{{ date | format }}</p>
      </div>

      <div class="side-p space-y-8">
        <div class="prose prose-neutral prose-invert">
          {{ content | safe }}
        </div>
      </div>

      <div class="side-p flex justify-start mt-20">
        <a class="button active" href="/blog">
          {% include "icons/left.njk" %}
          All Posts
        </a>
      </div>
    </main>

    {% include "footer.njk" %}
  </body>
</html>
