<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    <title>{{ title }} - Daniel Westbrook</title>
  </head>
  <body hx-boost="true">
    <div class="outer">
    <div class="container">
      {% include "header.njk" %}

      <div class="hero">
        <h1 class="mb-8 text-balance">{{ title }}</h1>
        <hr />
        <p class="m-0">{{ description }}</p>
        <p class="m-0">{{ date | format }}</p>
      </div>

      <div class="prose prose-invert">
        {{ content | safe }}
      </div>

      <div class="pt-16 mb-16">
        <a class="button active icon-button" href="/blog">
          {% include "icons/left.njk" %}
          All Posts
        </a>
      </div>

    </div>
    </div>
    {% include "footer.njk" %}
  </body>
</html>
